.slide{
    height: 100%;
}

.titleLoading{
    z-index: 100;
    position: absolute;
    word-wrap: break-word;
    margin-left: 5vw;
    margin-top: 5vw;
    color: white;
    max-width: 50%;
    font-size: 5vw;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.card{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    z-index: -1;
    border-radius: 0;
}
@media (min-width: 768px) {
    .card {
        height: 100%;
    }
}

.inner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 2vw;
}
@media (min-width: 768px) {
    .inner {
        width: 40%;
        height: 100%;
    }
}

.titleCard {
    font-size: 5vw;
    color: #000033;
    text-align: center;
    font-weight: 850;
    position: relative;
    margin: 0 0 4vw 0;
    border-bottom: solid;
}
@media (min-width: 768px) {
    .titleCard {
        font-size: 5vw;
    }
}

.descriptionCard{
    text-align: center;
    color: #000033;
    font-size: 2vw;
    margin: 0 0 2rem 0;
}

.subtitle {
    color: #000033;
    text-align: center;
}

.attractions{
    font-size: 1.5vw;
}

.spinLoader {
    position: fixed;
    bottom: 0%;
    left: 8%;
    transform: translateX(-50%) translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
}