#homeForm .input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 1rem 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    min-width: 25%;
}

#homeForm .button {
    border-radius: 0;
    color: #fff;
    padding: 1rem 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#homeForm .form-floating > label {
    color: #fff;
}

#homeForm .form-floating > .form-control:focus ~ label {
    color: #000000;
}

#homeForm .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

#homeForm .subContainer {
    width: 45%;
    display: flex;
    justify-content: space-between;
}