.input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 1rem 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    min-width: 25%;
    height: 100rem;
    resize: none;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.button {
    border-radius: 0;
    color: #fff;
    padding: 1rem 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.form-floating > label {
    color: #fff;
}

.form-floating > .form-control:focus ~ label {
    color: #000000;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.subContainer {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.textarea{
    resize: none;
    overflow: auto;
}