.modal-dialog {
    width: 100%;
    height: 80%;
}

.modal-content {
    height: 120%;
    border-radius: 0;
    width: 300%;
    margin-left: -100%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.modalHeader h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.modalHeader button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
}

.vacationOffers {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    width: 100%;
    padding: 1rem;
}